* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
}

img {
    border: none;
    -ms-interpolation-mode: bicubic;
    display: block;
}

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    -webkit-transition: all 300ms ease;
}

body {
    font-size: 16px;
    /* background: url(../images/spinner2.gif) no-repeat center center; */
    background-size: 148px 148px;
    height: 100%;
    width: 100%;
}

a {
    outline: none;
    text-decoration: none;
}

/* @font-face {
    font-family: 'formular';
    src: url(../fonts/formular.woff2) format('woff2'),
         url(../fonts/formular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'formularMedium';
    src: url(../fonts/formular-medium.woff2) format('woff2'),
         url(../fonts/formular-medium.woff) format('woff');
    font-weight: 400;
    font-style: normal;
} */

.wrapper {
    height: 100%;
    background-color: #fff;
}

.header {
    width: 100%;
    float: left;
}

.innerWrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    padding: 0 5%;
    clear: both;
}

.header .innerWrap p {
    float: left;
    width: 75%;
}

h1 {
    color: #1C1C21;
    font-size: 82px;
    margin: 130px 0 50px 0;
    line-height: 115%;
    font-weight: 400;
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: -.06em;
    position: relative;
    float: left;
    width: 100%;
}

.titleWrap {
    float: left;
    width: 75%;
    margin: 0 0 140px 0;
}

.titleWrap p {
    position: relative;
    font-size: 20px;
    line-height: 33px;
}

.me {
    float: right;
    width: 25%;
    max-width: 260px;
    margin: 90px 0 0 0;
    position: relative;
}

h1 span {
    position: relative;
    display: inline-block;
}

span.second {
    display: block;
    clear: both;
}

h2.slide {
    position: relative;
}

li.slide {
    position: relative;
}

.topNav {
    width: 100%;
    height: 90px;
    position: relative;
}

.topNav .innerWrap {
    height: 90px;
}

.topNav .logo {
    float: left;
    width: 129px;
    display: block;
    margin: 70px 0 0 0;
}

.topNav .logoMobile {
    display: none;
}

.logoMobileDark {
    width: 90px;
    display: block;
    position: absolute;
    top: 25px;
    left: 5%;
}

.topNav .logo img {
    width: 100%;
    float: left;
}

.current_page_item a:hover {
    cursor: default;
}

.mobileWrap {
    display: none;
}

h3 {
    float: left;
    display: block;
    font-family: 'formularMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1C1C21;
    font-weight: 400;
    font-size: 13px;
    line-height: 1em;
    position: relative;
    letter-spacing: 1px;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}

.experience h3 {
    width: 100%;
    margin: 0 0 12px 0;
}

a h3:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -6px;
    left: 0;
    background-color: #1C1C21;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a:hover h3:after {
    visibility: visible;
    width: 100%;
}

p {
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1C1C21;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -.02em;
    /* float: left; */
}

.footer {
    background-color: #111115;
    width: 100%;
    float: left;
    height: 120px;
}

.footer p {
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    float: left;
    line-height: 120px;
}

.footer ul {
    float: right;
    list-style-type: none;
    width: auto;
    margin-top: 47px;
}

.footer ul li {
    list-style-type: none;
    display: inline-block;
}

.footer ul li a {
    font-weight: 400;
    font-family: 'formularMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 13px;
    display: block;
    position: relative;
    margin: 0 0 0 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer ul li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -6px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.footer ul li a:hover:after {
    visibility: visible;
    width: 100%;
}

.footer ul li.current_page_item a:after {
    visibility: visible;
    width: 100%;
}

.projectImage img {
    float: left;
    width: 100%;
    position: relative;
    border-radius: 16px;
}

.projectImage {
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 50px 0;
}

.projectImage:last-child {
    margin: 0 0 120px 0;
}

.lastImage {
    margin: 0 0 120px 0;
}

.grey {
    background-color: #EDEEF1;
    color: #1C1C21;
}

.black {
    background-color: #111115;
}

.black h2 {
    color: #fff;
    width: 35%;
    float: left;
}

.black h3,
.contact h3 {
    color: #fff;
}

.black ul li ul li {
    color: #fff;
}

.info,
.moreProjects {
    width: 100%;
    padding: 95px 0 25px 0;
    float: left;
    position: relative;
}

.info.black {
    padding: 135px 0 65px 0;
}

.moreProjects {
    padding: 0;
}

.about {
    padding: 0 0 25px 0;
}

.projectIntro {
    padding: 0 0 75px 0;
}

h2 {
    color: #1C1C21;
    font-size: 56px;
    line-height: 100%;
    font-weight: 400;
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: -.06em;
    margin: 0 0 75px 0;
}

.info ul,
.info {
    float: left;
    list-style-type: none;
    width: 100%;
}

.black ul {
    width: 65%;
    position: relative;
}

.black ul li ul {
    width: 100%;
    border-bottom: 1px solid #3A3A43;
}

.info ul li {
    float: left;
    width: 30%;
    margin: 0 5% 75px 0;
}

.black ul li {
    width: 45%;
    margin: 0 8% 75px 0;
}

.info ul li ul li {
    float: left;
    width: 100%;
    font-weight: 400;
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: -.02em;
    font-size: 20px;
    margin: 0 !important;
    padding: 40px 0;
    border-top: 1px solid #3A3A43;
}

.info ul li:nth-child(3n+3) {
    margin: 0 0 75px 0;
}

.info ul li:nth-child(4) {
    clear: both;
}

.about ul li:nth-child(3n+3) {
    margin: 0 5% 75px 0;
    clear: both;
}

.about ul li:nth-child(4) {
    clear: none;
}

.black ul li:nth-child(2) {
    margin: 0 0 75px 0;
}

.black ul li:nth-child(3n+3) {
    margin: 0 8% 75px 0;
    clear: none;
}

.black ul li:nth-child(4) {
    clear: none;
    margin: 0 0 75px 0;
}

.info ul li p {
    float: left;
}

.info ul li ul li span {
    margin: 0 30px 0 0;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
}

blockquote p {
    text-indent: -.3em;
}

.testimonials {
    float: left;
    width: 100%;
    clear: both;
    padding: 115px 0 45px 0;
    position: relative;
}

ul.quotes {
    list-style-type: none;
    float: left;
    width: 46%;
    margin: 0 8% 0 0;
}

ul.quotes.quotes2 {
    margin: 0;
}

.experience ul.quotes.quotes2 {
    margin: 140px 0 0 0;
}

ul.quotes li {
    list-style-type: none;
    float: left;
    width: 80%;
    margin: 0 0 105px 0;
    position: relative;
    background-color: #fff;
    padding: 9% 10% 10% 10%;
    border-radius: 16px;
}

ul.quotes li:after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 30px;
    background: url(../images/arrow.png) no-repeat center center;
    background-size: 60px 30px;
    position: absolute;
    left: 10%;
    bottom: -30px;
}

ul.quotes li blockquote p {
    float: left;
    width: 100%;
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1C1C21;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    margin: 0 0 18px 0;
}

ul.quotes li p.person {
    float: left;
    width: 100%;
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1C1C21;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

ul.quotes li p.title {
    float: left;
    width: 100%;
    font-family: 'formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #747B89;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.experience ul.quotes li {
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0 0 105px 0;
    position: relative;
    background-color: #fff;
    padding: 0;
    border-radius: 16px;
}

.experienceDetails {
    float: left;
    width: 84%;
    margin: 7% 8% 8% 8%;
}

.experience ul.quotes li:after {
    display: none;
}

.experience ul.quotes li img {
    float: left;
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.projectCopy {
    width: 100%;
    padding: 70px 0 0 0;
    max-width: 760px;
    margin: 0 auto 120px;
    clear: both;
    position: relative;
}

.projectCopy h2 {
    font-family: 'formularMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1C1C21;
    font-weight: 400;
    font-size: 13px;
    line-height: 135%;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }
    .black h2,
    .black ul {
        width: 100%;
    }
    .info.black {
        padding: 115px 0 45px 0;
    }
    .testimonials {
        padding: 95px 0 25px 0;
    }
    .info ul li ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .topNav {
        height: 60px;
    }
    .topNav .innerWrap {
        height: 60px;
    }
    .topNav .logo {
        margin: 40px 0 0 0;
    }
    h1 {
        font-size: 50px;
        margin: 100px 0 40px 0;
        line-height: 130%;
    }
    .titleWrap {
        margin: 0 0 110px 0;
    }
    .info,
    .testimonials,
    .moreProjects,
    .info.black {
        width: 100%;
        padding: 70px 0 15px 0;
        float: left;
    }
    .moreProjects {
        padding: 0;
    }
    .about {
        padding: 0 0 15px 0;
    }
    .projectIntro {
        padding: 0 0 60px 0;
    }
    h2 {
        font-size: 38px;
        margin: 0 0 55px 0;
    }
    .info ul li,
    .info ul li:nth-child(3n+3) {
        width: 45%;
        margin: 0 10% 75px 0;
    }
    .info ul li:nth-child(even) {
        margin: 0 0 75px 0;
    }
    .info ul li:nth-child(4) {
        clear: none;
    }
    .black h2,
    .black ul {
        width: 100%;
    }
    .black ul li ul li {
        width: 100% !important;
        padding: 36px 0 36px 0;
    }
    ul.quotes {
        width: 100%;
        margin: 0;
    }
    ul.quotes li {
        margin: 0 0 85px 0;
    }
    .projectImage:last-child {
        margin: 0 0 90px 0;
    }
    .myRole {
        display: none;
    }
    h1.aboutTitle {
        width: 100%;
    }
    .me {
        display: none;
    }
    .titleWrap {
        width: 100%;
    }
    .titleWrap p {
        font-size: 18px;
        line-height: 31px;
    }
    .experienceDetails {
        float: left;
        width: 86%;
        margin: 6% 7% 7% 7%;
    }
    .experience ul.quotes li {
        margin: 0 0 60px 0;
    }
    .experience ul.quotes.quotes2 {
        margin: 0;
    }
    .header .innerWrap p {
        width: 100%;
    }
    .info ul li ul li span {
        margin-right: 24px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
        margin: 70px 0 20px 0;
    }
    .titleWrap {
        margin: 0 0 80px 0;
    }
    h2 {
        font-size: 36px;
        margin: 0 0 45px 0;
    }
    h3 {
        margin: 0 0 6px 0;
    }
    .topNav {
        height: 55px;
    }
    .topNav .innerWrap {
        height: 55px;
    }
    .topNav .logo {
        display: none;
    }
    .topNav .logoMobile {
        width: 90px;
        padding: 25px 0 0 0;
        display: block;
        float: left;
    }
    .mobileWrap {
        float: left;
        height: 100%;
        display: none;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .mobileInnerWrap {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background-color: #111115;
    }
    .thumbnail {
        margin: 0 0 20px 0;
    }
    .footer {
        text-align: center;
    }
    .footer ul {
        width: 100%;
        float: none;
    }
    .footer p {
        display: none;
    }
    p {
        font-size: 16px;
        line-height: 27px;
    }
    .info,
    .testimonials,
    .moreProjects,
    .info.black {
        padding: 55px 0 15px 0;
    }
    .moreProjects {
        padding: 0;
    }
    .about {
        padding: 0 0 15px 0;
    }
    .info ul li,
    .info ul li:nth-child(3n+3) {
        width: 100%;
        margin: 0 0 60px 0;
    }
    .info ul li:first-child {
        margin: 0;
    }
    .info ul li:last-child {
        margin: 0 0 60px 0;
    }
    .black ul li ul li {
        font-size: 16px;
        padding: 30px 0 30px 0;
    }
    ul.quotes li blockquote p,
    .titleWrap p {
        line-height: 28px;
        font-size: 18px;
    }
    ul.quotes li {
        margin: 0 0 70px 0;
    }
    .projectIntro {
        padding: 0 0 30px 0;
    }
    .projectCopy p {
        line-height: 25px;
    }
    .projectCopy {
        padding: 25px 0 0 0;
        margin: 0 auto 70px;
    }
    .projectImage:last-child {
        margin: 0 0 75px 0;
    }
    .projectImage {
        margin: 0 0 30px 0;
    }
    .myRole {
        display: block;
    }
    h3 {
        font-size: 11px;
    }
    .projectCopy h2 {
        font-size: 11px;
        margin: 0 0 8px 0;
    }
    .footer ul li a {
        margin: 0 10px 0 10px;
        font-size: 11px;
    }
    .titleWrap p {
        font-size: 16px;
        line-height: 25px;
    }
    .experienceDetails p {
        line-height: 25px;
    }
    .experience ul.quotes li {
        margin: 0 0 40px 0;
    }
    .black ul li:first-child ul {
        border-bottom: none;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
        margin: 0 0 40px 0;
    }
    p {
        line-height: 27px;
    }
    .info,
    .testimonials,
    .moreProjects,
    .info.black {
        padding: 45px 0 5px 0;
    }
    .moreProjects {
        padding: 20px 0 0 0;
    }
    .about {
        padding: 0 0 5px 0;
    }
    .projectIntro {
        padding: 0 0 55px 0;
    }
    .info ul li,
    .info ul li:nth-child(3n+3) {
        width: 100%;
        margin: 0 0 55px 0;
    }
    .info ul li:nth-child(even) {
        margin: 0 0 55px 0;
    }
    .projectCopy p {
        line-height: 27px;
    }
    .projectCopy {
        margin: 0 auto 55px;
    }
    .projectImage {
        margin: 0 0 20px 0;
    }
    .projectImage:last-child {
        margin: 0 0 55px 0;
    }
    .experienceDetails {
        margin: 9% 8% 9% 8%;
        width: 84%;
    }
    .experience ul.quotes li {
        margin: 0 0 30px 0;
    }
}
